root = true

[*]
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
end_of_line = LF

[*.php]
indent_style = space
indent_size = 4

# The JSON files contain newlines inconsistently
[*.json]
indent_size = 2
insert_final_newline = false

[composer.json]
indent_style = space
indent_size = 4

[*.md]
trim_trailing_whitespace = false
